{% macro button_contact_phone(doLink = true) %}
  {% if doLink %}
    <a href="tel://{{ config('page.phone') }}"><button class="btn btn-large btn-warning" type="button"><i class="icon-phone-sign"></i> {{ config('page.phone') }}</button></a>
  {% else %}
    <button class="btn btn-large btn-warning" type="button"><i class="icon-phone-sign"></i> {{ config('page.phone') }}</button>
  {% endif %}
{% endmacro %}

{% macro button_contact_email(doLink = true) %}
  {% if doLink %}
    <a href="mailto:{{ config('page.email') }}"><button class="btn btn-large btn-warning" type="button"><i class="icon-envelope"></i> {{ config('page.email') }}</button></a>
  {% else %}
    <button class="btn btn-large btn-warning" type="button"><i class="icon-envelope"></i> {{ config('page.email') }}</button>
  {% endif %}
{% endmacro %}

{% macro button_contact() %}
    <a href="{{ url('wozbe_contact') }}"><button class="btn btn-large btn-warning" type="button"><i class="icon-envelope"></i> {{ 'contact'|trans }}</button></a>
{% endmacro %}