{% macro contact_buttons() %}
    <div class="call_to_action">
      <div class="hidden-phone">
        <p class="text-center">
          <button class="btn btn-large btn-warning" type="button"><i class="icon-phone-sign"></i> {{ phone }}</button>
          <a href="mailto:{{ email }}"><button class="btn btn-large btn-warning" type="button"><i class="icon-envelope"></i> {{ email }}</button></a>
        </p>
      </div>
      <div class="visible-phone">
        <p class="text-center">
          <a href="tel://{{ phone }}"><button class="btn btn-large btn-warning" type="button"><i class="icon-phone-sign"></i> {{ phone }}</button></a>
          <a href="mailto:{{ email }}"><button class="btn btn-large btn-warning" type="button"><i class="icon-envelope"></i> {{ email }}</button></a>
        </p>
      </div>
    </div>
{% endmacro %}