{% extends '::base.html.twig' %}
{% import '::widgets.html.twig' as widgets %}

{% block title %}Wozbe{% endblock %}
{% block description %}{{ 'description'|trans|striptags }}{% endblock %}
{% block keywords %}{{ 'keywords'|trans|striptags }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/app/css/wozbe.css') }}" type="text/css"/>
{% endblock %}

{% block head_meta %}
{{ parent() }}
<meta name="robots" content="index,follow" />
<meta property='og:title' content='{{ block('title') }}'/>
<meta property='og:description' content='{{ block('description') }}'/>
<meta property='og:site_name' content='Wozbe'/>
<meta property='og:type' content='website'/>
<meta property='og:image' content='http://wozbe.com/bundles/app/images/logo-wozbe-letter.png' />
<link href='https://plus.google.com/104876040719786615121' rel='author' />

{% block head_canonical %}<link rel="canonical" href="{{ path(app.request.attributes.get('_route')) }}"/>{% endblock head_canonical %}
{% endblock head_meta %}

{% block body_script %}
{% if app.debug %}
<script src="{{ asset('built/app/js/wozbe.js') }}"></script>
{% else %}
<script src="{{ asset('built/app/js/wozbe.min.js') }}"></script>
{% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3801711-8', 'wozbe.com');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block content_top %}
<div class="container-logo">
  <a href="{{ url('wozbe') }}"><img alt="Logo Wozbe" src="{{ asset('bundles/app/images/logo-wozbe-full-alpha.png') }}" /></a>
  <a href="https://github.com/wozbe/wozbe.com"><img class="github" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
</div>
<div id="navbar-outer">
  <div id="navbar" class="navbar" data-width-fixed="980">
    <a class="brand" href="#"><img alt="Logo Wozbe" src="{{ asset('bundles/app/images/logo-wozbe-simple.png') }}" /></a>
    <div class="navbar-inner">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-block btn-navbar " data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% set route = app.request.attributes.get('_route') %}
          <li{% if 'wozbe' == route %} class="active"{% endif %}><a href="{{ url('wozbe') }}"><i class="icon-fixed-width icon-home"></i> {{ 'home'|trans|capitalize }}</a></li>
          <li{% if 'wozbe_skills' == route %} class="active"{% endif %}><a href="{{ url('wozbe_skills') }}"><i class="icon-fixed-width icon-tasks"></i> {{ 'skills'|trans|capitalize }}</a></li>
          <li{% if 'wozbe_references' == route %} class="active"{% endif %}><a href="{{ url('wozbe_references') }}"><i class="icon-fixed-width icon-book"></i> {{ 'references'|trans|capitalize }}</a></li>
          <li{% if 'wozbe_contact' == route %} class="active"{% endif %}><a href="{{ url('wozbe_contact') }}"><i class="icon-fixed-width icon-envelope"></i> {{ 'contact'|trans|capitalize }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="navbar-mock"></div>
{% endblock %}

{% block footer_content %}
<p class="text-center">
  © 2013 Wozbe - {{ "slogan"|trans }}. Tous droits réservés.<br />
  <a href="#modalInformations" role="button" data-toggle="modal">{{ 'legals_informations'|trans }}.</a><br />
  <br />
  {{ widgets.button_contact() }}
  <br />
</p>
<div class="hidden-phone">
  <p class="text-center">Fait avec: <a href="http://symfony.com/">Symfony2</a>, <a href="http://www.doctrine-project.org/">Doctrine2</a>, <a href="http://twig.sensiolabs.org/">Twig</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://lesscss.org/">LESS</a>, <a href="http://gruntjs.com/">Grunt</a>, <a href="https://github.com/bower/bower">Bower</a>, <a href="https://github.com/sebastianbergmann/phpunit/">PHPUnit</a> & <a href="http://capistranorb.com/">Capistrano</a></p>
</div>
{% endblock %}

{% block content_after %}
<!-- Modal -->
<div id="modalInformations" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalInformations" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{{ 'legals_informations'|trans }}</h3>
  </div>
  <div class="modal-body">
    <p class="text-center">
      <img alt="Logo Wozbe" src="{{ asset('bundles/app/images/logo-wozbe-simple.png') }}" /><br />
      <br />
      4 rue du Colonel Guillaud<br />
      69530 - Brignais<br />
      <br />
      {{ 'phone'|trans|capitalize }} : {{ config('page.phone') }}<br />
      {{ 'email'|trans|capitalize }} : {{ config('page.email') }}<br />
      <br />
      SARL au capital de 1000€<br />
      792 992 018 RCS Lyon<br />
      TVA Intracommunautaire : FR 44 792 992 018<br />
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'close'|trans }}</button>
  </div>
</div>
{% endblock %}
