<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ 'Admin'|trans }}{% endblock %}</title>
    
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url('wozbe') }}">Wozbe</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if is_granted('ROLE_USER') %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url('admin_logout') }}">{{ 'Logout'|trans }}</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          {% block left_part %}
          <ul class="nav nav-pills nav-stacked">
            {% set route = app.request.attributes.get('_route') %}
            <li{% if 'wozbe_admin_dashboard' == route %} class="active"{% endif %}><a href="{{ url('wozbe_admin_dashboard') }}">{{ 'dashboard'|trans|capitalize }}</a></li>
            <li{% if 'wozbe_admin_post_list' == route %} class="active"{% endif %}><a href="{{ url('wozbe_admin_post_list') }}">{{ 'posts'|trans|capitalize }}</a></li>
            <li{% if 'wozbe_admin_comment_list' == route %} class="active"{% endif %}><a href="{{ url('wozbe_admin_comment_list') }}">{{ 'comments'|trans|capitalize }}</a></li>
            <li{% if 'wozbe' == route %} class="active"{% endif %}><a href="{{ url('wozbe_admin_post_list') }}">{{ 'references'|trans|capitalize }}</a></li>
          </ul>
          {% endblock %}
        </div>
        <div class="col-md-9">
          {% for flashMessage in app.session.flashbag.get('admin') %}
            <div class="alert alert-info">
              {{ flashMessage }}
            </div>
          {% endfor %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>

</html>