{% extends '::wozbe.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbeblog/css/index.css') }}" type="text/css"/>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'blog'|trans|capitalize }}{% endblock %}

{% block body_class %}blog-index{% endblock body_class %}

{% block content %}
<h1>{{ 'our_blog_posts'|trans }}</h1>

<div class="zone-references">
  {% for post in posts %}
  <div class="reference">
    <div class="title">
      <a href="{{ url('wozbe_blog_post', {slug: post.slug}) }}"><h2>{{ post.title|capitalize }}</h2></a>
      <hr />
    </div>
    <p class="description">
      {% autoescape false %}{{ post.description|markdown }}{% endautoescape %}
    </p>
  </div>
  {% endfor %}
  <div class="clearfix"></div>
</div>

{% endblock content %}
