{% extends '::wozbe.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbeblog/css/post.css') }}" type="text/css"/>
{% endblock %}

{% block head_canonical %}<link rel="canonical" href="{{ path(app.request.attributes.get('_route'), {slug: post.slug}) }}"/>{% endblock head_canonical %}

{% block body_class %}blog-post{% endblock body_class %}

{% block content %}
<div class="zone-post">
  {{ post_content|markdown }}
</div>

  {{ 
    render(controller('WozbeBlogBundle:Comment:list', {'slug': post.slug})) 
  }}

  {{ 
    render(controller('WozbeBlogBundle:Comment:add', {'slug': post.slug})) 
  }}

{% endblock content %}
