{% extends '::wozbe.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbeblog/css/post.css') }}" type="text/css"/>
{% endblock %}

{% block head_canonical %}<link rel="canonical" href="{{ path(app.request.attributes.get('_route'), {slug: post.slug}) }}"/>{% endblock head_canonical %}

{% block body_class %}blog-post{% endblock body_class %}

{% block content %}
<div class="zone-post">
  {{ post_content|markdown }}
</div>

<div class="zone-comments">
  <a name="comments"></a>
  <h2>{{ 'comments'|trans|capitalize }}</h2>
  
  {% for flashMessage in app.session.flashbag.get('comments') %}
    <div class="alert alert-info">
      {{ flashMessage }}
    </div>
  {% endfor %}
  
  {% for comment in comments if comment.published %}
  <div class="row-fluid comment">
    <a name="comment-{{ comment.id }}"></a>
    <div class="span3">
      <img class="avatar" />
      <hr />
      <h3 class="username"><a href="{{ comment.website }}">{{ comment.username }}</a></h3>
    </div>
    <div class="span9 content">
      {{ comment.content }}
    </div>
  </div>
  {% endfor %}
</div>

 {{ render(controller('WozbeBlogBundle:Comment:add', {
  'slug': post.slug
})) }}

{% endblock content %}
