<div class="zone-add-comment">
  <h2>{{ 'add_your_comment'|trans }}</h2>
  {{ form_errors(form) }}
  {{ form_start(form) }}
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          {{ form_widget(form.username, {'attr': {'placeholder': form.username.vars.label}}) }}
        </div>
      </div>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          {{ form_widget(form.email, {'attr': {'placeholder': form.email.vars.label}}) }}
        </div>
      </div>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-html5"></i></span>
          {{ form_widget(form.website, {'attr': {'placeholder': form.website.vars.label}}) }}
        </div>
      </div>
      <div class="controls">
        {{ form_widget(form.content, {'attr': {'rows': 10, 'class': 'input-block-level'}}) }}
      </div>
    </div>
      
    <div class="control-group">
      <div class="controls">
        {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
      </div>
    </div>
  {{ form_end(form) }}
</div>