{% extends 'WozbeAdminBundle::layout.html.twig' %}
{% import 'WozbeAdminBundle::helpers.html.twig' as helpers %}

{% block title %}{{ 'Posts'|trans }}{% endblock %}

{% block content %}
<div class="">
  <h1>
    {{ 'Post management'|trans }}
    <div class="pull-right">
      {% set content_post_create %}<span class="glyphicon glyphicon-edit"></span> {{ 'New post'|trans }}{% endset %}
      {% set url_post_create = url('wozbe_admin_post_create') %}
      {{ helpers.link(
        content_post_create, 
        url_post_create, 
        'primary'
      ) }}
    </div>
  </h1>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>{{ 'Title'|trans }}</th>
      <th>{{ 'Created At'|trans }}</th>
      <th>{{ 'Published'|trans }}</th>
      <th>{{ 'Actions'|trans }}</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{ post.title }}</td>
      <td>{{ post.createdAt|date('d/m/Y') }}</td>
      <td>{{ helpers.label(post.published, 'Published'|trans) }}</td>
      <td>
        {% set content_post_edit %}<span class="glyphicon glyphicon-edit"></span>{% endset %}
        {% set url_post_edit = url('wozbe_admin_post_edit', {'slug': post.slug}) %}
        {{ helpers.link_small(
          content_post_edit, 
          url_post_edit
        ) }}
        
        {% set content_post_edit %}<span class="glyphicon glyphicon-remove"></span>{% endset %}
        {% set url_post_edit = url('wozbe_admin_post_remove', {'slug': post.slug}) %}
        {{ helpers.link_small(
          content_post_edit, 
          url_post_edit, 
          'danger',
          {
            'data-method': 'DELETE', 
            'data-confirm': 'You will delete a post, are you sure ?'}
        ) }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
