{% extends '::wozbe.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbeblog/css/index.css') }}" type="text/css"/>
{% endblock %}

{% block title %}{{ parent() }} - {{ 'blog'|trans }}{% endblock %}

{% block body_class %}blog-index{% endblock body_class %}

{% block content %}
<h1>{{ 'our blog posts'|trans }}</h1>

{% set references = [
  [
    "Intégration de Grunt au sein d'une application Symfony2", 
    'kolor', 
    url('wozbe_blog_post', {slug: '2013-08-07-integration-grunt-au-sein-application-symfony'}),
    'reference.description.long.kolor'|trans
  ], 
  [ 
    'Mise en place de Capifony pour Symfony2',
    'konbini',
    url('wozbe_blog_post', {slug: '2013-08-07-integration-grunt-au-sein-application-symfony'}),
    'reference.description.long.konbini'|trans
  ],
  [
    'Intégration Bootstrap avec Grunt pour un projet Symfony2', 
    'virgule', 
    url('wozbe_blog_post', {slug: '2013-08-07-integration-grunt-au-sein-application-symfony'}),
    'reference.description.long.la_virgule'|trans
  ]
] %}


<div class="zone-references">
  {% for i in 0..5 %}
  {% set title = cycle(references, i)[0] %}
  {% set screen = cycle(references, i)[1] %}
  {% set link = cycle(references, i)[2] %}
  {% set description = cycle(references, i)[3] %}
  <div class="reference">
    <div class="title">
      <h2>{{ title }}</h2>
      <hr />
    </div>
    <p class="text-center">
      <a href="{{ link }}"><img alt="{{ title }} aperçu" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-' ~ screen ~ '.jpg') }}" /></a>
    </p>
    <p class="description">
      {% autoescape false %}{{ description }}{% endautoescape %}
    </p>
  </div>
  {% endfor %}
  <div class="clearfix"></div>
</div>

{% endblock content %}
