{% extends '::wozbe.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbeblog/css/post.css') }}" type="text/css"/>
{% endblock %}

{% block head_canonical %}<link rel="canonical" href="{{ path(app.request.attributes.get('_route'), {slug: slug}) }}"/>{% endblock head_canonical %}

{% block body_class %}blog-post{% endblock body_class %}

{% block content %}
<div class="zone-post">
  {{ post_content|markdown }}
</div>

<div class="zone-comments">
  <h2>{{ 'comments'|trans|capitalize }}</h2>
  <div class="row-fluid comment">
    {% for comment in comments %}
    <div class="span3">
      <img class="avatar" />
      <hr />
      <h3 class="username">{{ comment.username }}</h3>
    </div>
    <div class="span9 content">
      {{ comment.content }}
    </div>
  </div>
  {% endfor %}
</div>

<div class="zone-add-comment">
  <form action="{{ url('wozbe_ajax_contact') }}" method="post">
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <input type="text" id="commentUsername" name="username" class="input-xlarge" placeholder="Username">
        </div>
      </div>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          <input type="text" id="commentEmail" name="email" class="input-xlarge" placeholder="Email">
        </div>
      </div>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-html5"></i></span>
          <input type="text" id="commentWebsite" name="website" class="input-xlarge" placeholder="Website">
        </div>
      </div>
      <div class="controls">
        <textarea rows="10" id="contactMessage" name="message" class="input-block-level" ></textarea>
      </div>
    </div>
      
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Envoyer</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
