{% extends '::wozbe.html.twig' %}

{% block title %}{{ parent() }} - {{ 'slogan'|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbepage/css/index.css') }}" type="text/css"/>
{% endblock %}

{% block body_open_tag %}
<body data-spy="scroll" data-target=".navbar">
{% endblock %}

{% block content %}
<h1>{{ "slogan"|trans }} !</h1>
<div id="zone-skills" class="container-fluid">
  <ul class="cbp-ig-grid">
    {% set skills = [
      [
        'skill.development'|trans, 
        'skill.client_server'|trans, 
        url('wozbe_skills'), 
        'icon-code',
        ''
      ],
      [
        'skill.architecture_devops'|trans, 
        'skill.communication_deployment'|trans, 
        url('wozbe_skills'), 
        'icon-cogs',
        ''
      ],
      [
        'skill.infrastructure'|trans, 
        'skill.performance_high_availability'|trans, 
        url('wozbe_skills'), 
        'icon-cloud-upload',
        ''
      ],
      [
        'skill.agile'|trans, 
        'skill.working_method'|trans, 
        url('wozbe_skills'), 
        'icon-tasks',
        'hidden-phone'
      ],
      [
        'skill.search_development'|trans, 
        'skill.fresh_technologies'|trans, 
        url('wozbe_skills'), 
        'icon-refresh',
        'hidden-phone'
      ],
      [
        'skill.video_streaming'|trans, 
        'skill.content_delivery_network'|trans, 
        url('wozbe_skills'), 
        'icon-youtube-play',
        'hidden-phone'
      ]
    ] %}
    {% for skill in skills %}
    <li class="{{ skill[4] }}">
      <a href="{{ skill[2] }}">
        <i class="{{ skill[3] }} icon-5x"></i>
        <h3 class="cbp-ig-title">{{ skill[0] }}</h3>
        <span class="cbp-ig-slogan">{{ skill[1] }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="well well-large description-wozbe">
  <div class="row-fluid">
    <div class="span2 text-center hidden-phone logo">
      <img alt="Wozbe logo" src="{{ asset('bundles/app/images/logo-wozbe-letter.png') }}" />
    </div>
    <div class="span9 offset1">
      <p class="lead text-left">
        {% autoescape false %}{{ "description"|trans }}{% endautoescape %}
      </p>
    </div>
  </div>
</div>  
<div id="zone-references" class="hidden-phone container-fluid">
  <a name="zone-references"></a>
  <h2>{{ 'reference.title'|trans }}</h2>
  <div class="row">
    <div class="reference left">
      <a href="{{ url('wozbe_references') }}#numerosus">
        <img alt="{{ 'reference.overview'|trans({'%project%': 'Numerosus'}) }}" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-numerosus.jpg') }}" />
        <span class="caption fade-caption">
          <h3>Numerosus</h3>
          <p>{% autoescape false %}{{ 'reference.description.short.numerosus'|trans }}{% endautoescape %}</p>
        </span>
      </a>
    </div>
    <div class="reference middle">
      <a href="{{ url('wozbe_references') }}#konbini">
        <img alt="{{ 'reference.overview'|trans({'%project%': 'Konbini'}) }}" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-konbini.jpg') }}" />
        <span class="caption fade-caption">
          <h3>Konbini</h3>
          <p>{% autoescape false %}{{ 'reference.description.short.konbini'|trans }}{% endautoescape %}</p>
        </span>
      </a>
    </div>
    <div class="reference right">
      <a href="{{ url('wozbe_references') }}#armetiz">
        <img alt="{{ 'reference.overview'|trans({'%project%': 'Armetiz'}) }}" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-armetiz.jpg') }}" />
        <span class="caption fade-caption">
          <h3>Armetiz</h3>
          <p>{% autoescape false %}{{ 'reference.description.short.armetiz'|trans }}{% endautoescape %}</p>
        </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="reference left">
      <a href="{{ url('wozbe_references') }}#turnaway">
        <img alt="{{ 'reference.overview'|trans({'%project%': 'Turnaway'}) }}" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-turnaway.jpg') }}" />
        <span class="caption fade-caption">
          <h3>Turnaway</h3>
          <p>{% autoescape false %}{{ 'reference.description.short.turnaway'|trans }}{% endautoescape %}</p>
        </span>
      </a>
    </div>
    <div class="reference middle">
      <a href="{{ url('wozbe_references') }}#kolor">
        <img alt="{{ 'reference.overview'|trans({'%project%': 'Kolor'}) }}" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-kolor.jpg') }}" />
        <span class="caption fade-caption">
          <h3>Kolor</h3>
          <p>{% autoescape false %}{{ 'reference.description.short.kolor'|trans }}{% endautoescape %}</p>
        </span>
      </a>
    </div>
    <div class="reference right">
      <a href="{{ url('wozbe_references') }}#virgule">
        <img alt="{{ 'reference.overview'|trans({'%project%': 'La Virgule'}) }}" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-virgule.jpg') }}" />
        <span class="caption fade-caption">
          <h3>La Virgule</h3>
          <p>{% autoescape false %}{{ 'reference.description.short.la_virgule'|trans }}{% endautoescape %}</p>
        </span>
      </a>
    </div>
  </div>
</div>
<div id="zone-partners">
  <a name="zone-partners"></a>
  <h2>{{ 'partner.title'|trans }}</h2>
  <div class="row-fluid">
    <div class="span4 partner anonymation">
      <div class="logo"><a target="_blank" href="http://www.anonymation.com/"><img alt="Anonymation Logo" src="{{ asset('bundles/wozbepage/images/logo-anonymation.png') }}" /></a></div>
      <p>{% autoescape false %}{{ 'partner.description.anonymation'|trans }}{% endautoescape %}</p>
    </div>
    <div class="span4 partner vlabs">
      <div class="logo"><a target="_blank" href="http://www.v-labs.fr/"><img alt="VLabs Logo" src="{{ asset('bundles/wozbepage/images/logo-vlabs.png') }}" /></a></div>
      <p>{% autoescape false %}{{ 'partner.description.vlabs'|trans }}{% endautoescape %}</p>
    </div>
    <div class="span4 partner kitpages">
      <div class="logo"><a target="_blank" href="http://www.kitpages.fr/"><img alt="Kitpages Logo" src="{{ asset('bundles/wozbepage/images/logo-kitpages.png') }}" /></a></div>
      <p>{% autoescape false %}{{ 'partner.description.kitpages'|trans }}{% endautoescape %}</p>
    </div>
  </div>
  <p class="text-center tagline">{{ 'partner.tagline'|trans }}</p>
</div>
{% endblock content %}
