{% extends 'WozbePageBundle::wozbe.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbepage/css/references.css') }}" type="text/css"/>
{% endblock %}

{% block content %}
<h1>{{ 'our_references'|trans }}</h1>
{% set class = ['first', 'second', 'third'] %}
{% set references = [
  [
    'Kolor', 
    'kolor', 
    'http://www.kolor.com',
    ['reference.tag.symfony2'|trans, 'reference.tag.process'|trans, 'reference.tag.infrastructure'|trans, 'reference.tag.architecture'|trans, 'reference.tag.advices'|trans, 'reference.tag.execution'|trans, 'reference.tag.training'|trans],
    'reference.description.long.kolor'|trans
  ], 
  [ 
    'Konbini',
    'konbini',
    'http://www.konbini.com',
    ['reference.tag.symfony2'|trans, 'reference.tag.vmware_esx'|trans, 'reference.tag.coordination'|trans, 'reference.tag.infrastructure'|trans, 'reference.tag.wordpress'|trans],
    'reference.description.long.konbini'|trans
  ],
  [
    'La Virgule', 
    'virgule', 
    'http://www.lavirgule.tv',
    ['reference.tag.advices'|trans, 'reference.tag.coordination'|trans, 'reference.tag.execution'|trans, 'reference.tag.cdn'|trans],
    'reference.description.long.la_virgule'|trans
  ],
  [
    'Numerosus', 
    'numerosus', 
    'http://www.numerosus.com',
    ['reference.tag.architecture'|trans, 'reference.tag.symfony2'|trans, 'reference.tag.infrastructure'|trans, 'reference.tag.advices'|trans, 'reference.tag.execution'|trans, ],
    'reference.description.long.numerosus'|trans
  ],
  [
    'Turnaway', 
    'turnaway', 
    'http://www.turnaway.fr',
    ['reference.tag.wordpress'|trans, 'reference.tag.communication'|trans, 'reference.tag.infrastructure'|trans, 'reference.tag.blog'|trans],
    'reference.description.long.turnaway'|trans
  ],
  [
    'Armetiz.info', 
    'armetiz', 
    'http://www.armetiz.info',
    ['reference.tag.blog'|trans, 'reference.tag.wordpress'|trans, 'reference.tag.search_development'|trans],
    'reference.description.long.armetiz'|trans
  ]
] %}

<div class="zone-references">
  {% for i in 0..5 %}
  {% set title = cycle(references, i)[0] %}
  {% set screen = cycle(references, i)[1] %}
  {% set link = cycle(references, i)[2] %}
  {% set tags = cycle(references, i)[3] %}
  {% set description = cycle(references, i)[4] %}
  <div class="reference">
    <div class="title">
      <h2>{{ title }}</h2>
      <hr />
    </div>
    <p class="text-center">
      <a href="{{ link }}" target="_blank"><img alt="{{ title }} aperçu" class="screenshot" src="{{ asset('bundles/wozbepage/images/screen-' ~ screen ~ '.jpg') }}" /></a>
    </p>
    <p class="description">
      <p>{% autoescape false %}{{ description }}{% endautoescape %}</p>
      <br />
      {% for tag in tags %}<i class="icon-fixed-width icon-tag"></i><strong>{{ tag }}</strong>{% if false == loop.last %},{% endif %} {% endfor %}
    </p>
  </div>
  {% endfor %}
  <div class="clearfix"></div>
</div>
{% endblock content %}
