{% extends '::wozbe.html.twig' %}

{% block title %}{{ parent() }} - {{ 'our_skills'|trans }}{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('built/wozbepage/css/skills.css') }}" type="text/css"/>
{% endblock %}

{% block body_class %}page-skills{% endblock body_class %}

{% block content %}
<h1>{{ 'our_skills'|trans }}</h1>
<div class="zone-skills">
  <div class="skill architecture-devops">
    <div class="title">
      <i class="icon-fixed-width icon-cogs icon-5x"></i>
      <h2>{{ 'skill.architecture_devops'|trans }}</h2>
      <hr class="title" />
    </div>
    <div>{% autoescape false %}{{ 'skill.description.architecture_devops'|trans }}{% endautoescape %}</div>
    <div class="logos">

    </div>
  </div>
  <div class="container-skills">
    <div class="skill">
      <div class="title">
        <i class="icon-fixed-width icon-cloud-upload icon-5x"></i>
        <h2>{{ 'skill.infrastructure'|trans }}</h2>
        <hr class="title" />
      </div>
      <div>{% autoescape false %}{{ 'skill.description.infrastructure'|trans }}{% endautoescape %}</div>
      <div class="logos hidden-phone">
        <img src="{{ asset('bundles/wozbepage/images/technologies/logo-ovh.jpg') }}" />
        <img src="{{ asset('bundles/wozbepage/images/technologies/logo-amazon.jpg') }}" />
      </div>
    </div>
    <div class="skill">
      <div class="title">
        <i class="icon-fixed-width icon-code icon-5x"></i>
        <h2>{{ 'skill.development'|trans }}</h2>
        <hr class="title" />
      </div>
      <div>{% autoescape false %}{{ 'skill.description.development'|trans }}{% endautoescape %}</div>
      <div class="logos hidden-phone">
        <img src="{{ asset('bundles/wozbepage/images/technologies/logo-symfony.png') }}" />
        <img src="{{ asset('bundles/wozbepage/images/technologies/logo-grunt.png') }}" />
        <img src="{{ asset('bundles/wozbepage/images/technologies/logo-html5.png') }}" />
      </div>
    </div>
    <br clear="both" />
  </div>
  <div class="skill cdn">
    <div class="title">
      <i class="icon-fixed-width icon-youtube-play icon-5x"></i>
      <h2>{{ 'skill.video_streaming'|trans }}</h2>
      <hr class="title" />
    </div>
    <div>{% autoescape false %}{{ 'skill.description.video_streaming'|trans({'%url_contact%': url('wozbe_contact')}) }}{% endautoescape %}</div>
  </div>
</div>
{% endblock content %}
